$orca-black-primary: mat-palette($mat-grey, 700, 300, 900);
$orca-black-accent: mat-palette($mat-blue-grey, 400);
$orca-black-warn: mat-palette($mat-red, 500);

$orca-black-theme: mat-dark-theme(
  $orca-black-primary,
  $orca-black-accent,
  $orca-black-warn
);
