$orca-light-primary: mat-palette($mat-grey, 200, 500, 300);
$orca-light-accent: mat-palette($mat-brown, 200);
$orca-light-warn: mat-palette($mat-deep-orange, 200);

$orca-light-theme: mat-light-theme(
  $orca-light-primary,
  $orca-light-accent,
  $orca-light-warn
);
